*h5
*.png
*.svg
*.zip
*.tif
*.pdf
*.csv
*.xls
*.ipynb
*.log
*.yaml
*.wandb
*.json
*.txt
*.ckpt
*.nii.gz
__pycache__/
/*.py
lightning_logs/
Gianluca_Mamamia/vp8k159t/checkpoints
Gianluca_Mamamia/wandb/
sample_code_submission/models
sample_code_submission/loaders
sample_code_submission/losses
sample_code_submission/modules
sample_code_submission/src
sample_code_submission/__init__.py